body {
    background-color: #2C2E2D;
}

.table {
    background-color: #2C2E2D;
    .cell {
        color: white;
    }
    .row {
        &:hover {
            cursor: pointer;
            background-color: #424644;
        }
        &:active {
            background-color: #5B86B1;
        }
    }
    .cellHeader {
        color: white;
    }
}

h1 {
    color: white;
}